@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


body {
    font-family: 'Inter', sans-serif !important;
}

.logo {
    width: 10px;
    height: 10px !important;
}

.active-nav {
    border-bottom: 21px solid #1f1f1f !important;
}